.footer-bg{
  background: #3f3f46;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 50px  0px 50px 0px;
}

.footer-icon {
  display: flex;
  gap: 10px;
}
.footer-descricao h2{
  font-size: 3rem;
  font-weight: 300;
  max-width: 15ch;
  color: #fff;
  margin-bottom: 2rem;
}
.footer-descricao p{
  font-size: 1.3rem;
  font-weight: 300;
  color: #fff;
  max-width: 40ch;
}
.footer-nav li{
  margin-bottom: 15px;
}

.footer-nav a {
  color:  #1d4ed8;
  font-weight: 700;
  display: block;
  font-size: 1.3rem;
  text-decoration: underline;
}
.footer-social {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}