/* RESESTS */
body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p,
ul,
blockquote,
dd {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: opacity 0.5s, transform 0.5s; /* Transição de 0.5 segundos para opacity e transform */
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}