.header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-bg {
  background: #020617;
}
.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.header-menu a {
  color: #1d4ed8;
  padding: 16px 0px;
  display: inline-block;
  position: relative;
  font-size: 1.2rem;
}
.header-menu a:hover {
  color:#fff;
}